/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-background: #fff;
  --color-border: #dfdfdf;
  --color-text: #262833;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #fff;
    --color-border: #dfdfdf;
    --color-text: #262833;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 16px;
  font-family: PingFang SC;
}
