@import './base.css';

.ant-row {
  width: 100%;
  font-family: PingFang SC;
}

.ant-col {
  font-family: PingFang SC;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-picker .ant-picker-input > input {
  color: #262833;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  line-height: 22px;
}
