@import './base.css';

.ant-row {
  width: 100%;
  font-family: PingFang SC;
}

.ant-col {
  font-family: PingFang SC;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-picker .ant-picker-input > input {
  color: #262833;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  line-height: 22px;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #fff;

  &:after {
    background-color: #20bec8;
    width: 24px;
    height: 24px;
    margin-block-start: -12px;
    margin-inline-start: -12px;
  }
}
